<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listas de Tarefas</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <%- include('partials/header') %>

  <div class="container">

    <h1>Listas de Tarefas</h1>

    <ul class="lists">
      <% lists.forEach(list => { %>
        <li class="list-card">
          <a href="/app/<%= list.id %>" class="list-title"><%= list.title %></a>
          <form action="/app/delete" method="post">
            <input type="hidden" name="deleteId" value="<%= list.id %>">
            <button class="btn-delete" type="submit">Excluir</button>
          </form>
        </li>
      <% }); %>
    </ul>

    <form action="/app/nova-lista" method="get" class="form">
      <button type="submit" class="btn-create">Nova Lista de Tarefas</button>
    </form>

  </div>

  <%- include('partials/footer') %>
</body>

</html>